body{
  background-color: #ecf4f3;
}
h1{
  color: #68b0ab;
}

h3{
  color: #68b0ab;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  color: grey;
  width: 5%;
}
